.main-title {
    font-size: 4em;
    line-height: 1.5;
    margin-top: 1em;
    margin: 0 auto;
}
.main-title span { color: #cf3f02; }

.flex-container {
  max-width: 1344px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1.25rem 0; 
}

.flex-thumb {
  position: relative;
  width: 400px;
  margin: 1rem 1.5rem;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px rgb(204, 204, 204); }
  @media (max-width: 840px) {
  .flex-thumb { width: 300px; } 
  }
  @media (max-width: 500px) {
  .flex-thumb {
      width: 100%;
      max-width: 400px;
      margin: 0.625rem 1.25rem; } 
}
.flex-thumb:hover { box-shadow: 0 0 10px 1px #acacac; }
.flex-thumb-info { padding: .625rem 1.25rem .9375em .9375rem; text-align: left; color: #797C80; }
.flex-thumb-info p { margin: .5em 0; }
.flex-thumb-img {
    width: 100%;
    height: auto;
    top: 0;
}
.kw a:not(:first-child){ background: #f0eeee; color:#777; padding: 5px; }
.kw a:not(:first-child):hover{ background: #cf3f02; color: #fff; }
.kw a:first-child { font-weight: bold; }