@font-face {
    font-family: 'Gotham Medium';
    src: url('gotham-medium.eot?#iefix') format('embedded-opentype'),
        url('gotham-medium.otf')  format('opentype'),
        url('gotham-medium.woff') format('woff'),
        url('gotham-medium.ttf')  format('truetype'),
        url('gotham-medium.svg#Gotham-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}