@charset "UTF-8";
@include: url('../fonts/fonts-all.css');
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px; }

body {
  font-family: "Gotham Light Regular", sans-serif;
  font-size: 17px;
  line-height: 25px;
  color: #fff; }

.fl-l {
  float: left;
  padding-right: 15px; }

.color-b {
  color: #000; }

.margin-def_1 {
  margin-top: -20px; }
.margin-def_2 {
  top: 10px; }

.sup_big {
  font-size: 25px;
  margin-left: 5px; }
.sup_small {
  font-size: 15px;
  margin-left: 2px; }

.fuel {
  font-style: normal;
  padding-right: 35px; }

@include: url('../fonts/fonts-all.css');
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px; }

body {
  font-family: "Gotham Light Regular", sans-serif;
  font-size: 17px;
  line-height: 25px;
  color: #fff; }

.fl-l {
  float: left;
  padding-right: 15px; }

.color-b {
  color: #000; }

.margin-def_1 {
  margin-top: -20px; }
.margin-def_2 {
  top: 10px; }

.sup_big {
  font-size: 25px;
  margin-left: 5px; }
.sup_small {
  font-size: 15px;
  margin-left: 2px; }

.fuel {
  font-style: normal;
  padding-right: 35px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

.grid__wrapper::after, .box::after, .grid__wrapper::before, .box::before {
  content: " ";
  display: table;
  clear: both; }

html {
  height: 100%;
  font: 16px/1.1 "Open Sans", Helvetica, sans-serif;
  color: #000; }

.w-1 {
  width: 272px; }

.h-1 {
  max-height: 272px;
  height: 272px; }

.w-2 {
  width: 544px; }

.h-2 {
  max-height: 554px;
  height: 554px; }

.w-3 {
  width: 826px; }

.h-3 {
  max-height: 826px;
  height: 826px; }

.grid {
  max-width: 75rem;
  min-width: 20rem;
  width: 100%;
  margin: 1em auto; }
  .grid__wrapper {
    width: 1118px;
    margin: auto; }
  .grid__column {
    float: left;
    background: #f3f3f3; }
    .grid__column_main {
      width: 836px; }
    .grid__column_sidebar {
      width: 272px; }
  .grid__col {
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    cursor: pointer; }
    .grid__col:hover {
      -webkit-filter: saturate(2);
      filter: saturate(2); }

[class*='h-'] {
  overflow: hidden; }

.grid__column_main .grid__col:nth-child(1) {
  background: url("../i/ct-insp-2015-spring-winter-tires-tab-1-img-1.jpg"); }
.grid__column_main .grid__col:nth-child(2) {
  background: url("../i/ct-insp-2015-spring-winter-tires-tab-1-img-9.jpg"); }
.grid__column_main .grid__col:nth-child(3) {
  background: url("../i/ct-insp-2015-spring-winter-tires-tab-3-img-3.jpg"); }
.grid__column_main .grid__col:nth-child(4) {
  background: url("../i/ct-insp-2015-spring-winter-tires-tab-3-img-4.jpg"); }
.grid__column_main .grid__col:nth-child(5) {
  background: url("../i/ct-insp-2015-spring-winter-tires-tab-3-img-5.jpg"); }
.grid__column_main .grid__col:nth-child(6) {
  background: url("../i/ct-insp-2015-spring-winter-tires-tab-1-img-9.jpg"); }

.grid__column_sidebar .grid__col:nth-child(1) {
  background: url("../i/ct-insp-2015-spring-winter-tires-tab-3-video-1.jpg"); }
.grid__column_sidebar .grid__col:nth-child(2) {
  background: #6db0da; }
.grid__column_sidebar .grid__col:nth-child(3) {
  background: url("../i/ct-insp-2015-spring-winter-tires-tab-3-video-3.jpg"); }
.grid__column_sidebar .grid__col:nth-child(4) {
  background: url("../i/ct-insp-2015-spring-winter-tires-tab-3-video-4.jpg"); }
.grid__column_sidebar .grid__col:nth-child(5) {
  background: url("../i/ct-insp-2015-spring-winter-tires-tab-3-video-5.jpg"); }
.grid__column_sidebar .grid__col:nth-child(6) {
  background: #6db0da; }

[class*="box__heading"] {
  text-transform: uppercase;
  margin-bottom: 5px; }

.box {
  padding: 35px 25px 0 25px;
  position: relative; }
  .box__check-tire {
    padding-top: 30px; }
  .box_video {
    padding: 0 15px 30px; }
  .box_all-terrain {
    padding-right: 0; }
  .box__heading_1 {
    font: normal 50px/40px "Gotham Medium Condensed", sans-serif;
    color: #fff; }
  .box__heading_2 {
    font: normal 46px/40px "Gotham Medium Condensed", sans-serif;
    color: #fff; }
  .box__heading_3 {
    font: normal 25px/25px "Gotham Medium Condensed", sans-serif;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 220px;
    text-align: center; }
  .box__heading_4 {
    font: normal 20px/25px "Gotham Bold", sans-serif;
    color: #00aeef;
    text-transform: initial; }
  .box__link {
    display: inline-block;
    text-transform: uppercase;
    font: normal 16px/25px "Gotham Bold", sans-serif;
    color: #000; }
    .box__link:hover {
      color: #6db0da; }
    .box__link_w {
      color: #fff; }
      .box__link_w:hover {
        color: #fff;
        box-shadow: 0 1px 0 0 #fff, 0 -1px 0 0 #fff; }
    .box__link::after {
      content: "›";
      margin: 0 5px;
      font-size: 20px; }
  .box__caption {
    font: 300 17px/normalpx "Gotham Light Regular", sans-serif;
    color: #fff;
    margin-bottom: 10px; }

/*# sourceMappingURL=box.css.map */
