@include: url('../fonts/fonts-all.css');
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px; }

body {
  font-family: "Gotham Light Regular", sans-serif;
  font-size: 17px;
  line-height: 25px;
  color: #fff; }

.fl-l {
  float: left;
  padding-right: 15px; }

.color-b {
  color: #000; }

.margin-def_1 {
  margin-top: -20px; }
.margin-def_2 {
  top: 10px; }

.sup_big {
  font-size: 25px;
  margin-left: 5px; }
.sup_small {
  font-size: 15px;
  margin-left: 2px; }

.fuel {
  font-style: normal;
  padding-right: 35px; }

@include: url('../fonts/fonts-all.css');
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px; }

body {
  font-family: "Gotham Light Regular", sans-serif;
  font-size: 17px;
  line-height: 25px;
  color: #fff; }

.fl-l {
  float: left;
  padding-right: 15px; }

.color-b {
  color: #000; }

.margin-def_1 {
  margin-top: -20px; }
.margin-def_2 {
  top: 10px; }

.sup_big {
  font-size: 25px;
  margin-left: 5px; }
.sup_small {
  font-size: 15px;
  margin-left: 2px; }

.fuel {
  font-style: normal;
  padding-right: 35px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%; }

.grid__wrapper::after, .grid__wrapper::before {
  content: " ";
  display: table;
  clear: both; }

html {
  height: 100%;
  font: 16px/1.1 "Open Sans", Helvetica, sans-serif;
  color: #000; }

.w-1 {
  width: 272px; }

.h-1 {
  max-height: 272px;
  height: 272px; }

.w-2 {
  width: 544px; }

.h-2 {
  max-height: 554px;
  height: 554px; }

.w-3 {
  width: 826px; }

.h-3 {
  max-height: 826px;
  height: 826px; }

.grid {
  max-width: 75rem;
  min-width: 20rem;
  width: 100%;
  margin: 1em auto; }
  .grid__wrapper {
    width: 1118px;
    margin: auto; }
  .grid__column {
    float: left;
    background: #f3f3f3; }
    .grid__column_main {
      width: 836px; }
    .grid__column_sidebar {
      width: 272px; }
  .grid__col {
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    cursor: pointer; }
    .grid__col:hover {
      -webkit-filter: saturate(2);
      filter: saturate(2); }

[class*='h-'] {
  overflow: hidden; }

.measuring {
  display: inline-block;
  position: relative; }
  .measuring-scale {
    width: 100px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 5px;
    border: 1px solid #000;
    background: repeating-linear-gradient(90deg, #000, #000 1px, transparent 1px, transparent 1em);
    background-color: #fff; }
    .measuring-scale_percent {
      position: absolute;
      top: 20px;
      left: 115px;
      font-family: "Gotham Medium";
      font-style: normal;
      margin-top: -20px;
      padding-bottom: 20px; }
    .measuring-scale_bg {
      position: absolute;
      top: 0px;
      left: 0px;
      display: inline-block;
      height: 20px;
      width: 100px;
      background: repeating-linear-gradient(90deg, #000, #000 1px, transparent 1px, transparent 1em);
      background-color: #6bb0dc; }
      .measuring-scale_bg:hover {
        background-color: #d52229; }
  .measuring:hover {
    color: #6bb0dc; }

.pct-dry_cooper {
  width: 97.4%; }
.pct-dry_motoMaster {
  width: 94.5%; }
.pct-dry_goodyear {
  width: 97.6%; }

.pct-wet_cooper {
  width: 100%; }
.pct-wet_motoMaster {
  width: 91%; }
.pct-wet_goodyear {
  width: 91.7%; }

.pct-ice_cooper {
  width: 97.1%; }
.pct-ice_motoMaster {
  width: 71.8%; }
.pct-ice_goodyear {
  width: 92.2%; }

.pct-snow_cooper {
  width: 99.7%; }
.pct-snow_motoMaster {
  width: 100%; }
.pct-snow_goodyear {
  width: 86.5%; }

.pct-fuel_cooper {
  width: 100%; }
.pct-fuel_motoMaster {
  width: 89.4%; }
.pct-fuel_goodyear {
  width: 89.9%; }

.pct-comfort_cooper {
  width: 100%; }
.pct-comfort_motoMaster {
  width: 92.6%; }
.pct-comfort_goodyear {
  width: 82.2%; }

/*# sourceMappingURL=measuring-scale.css.map */
