*::-webkit-input-placeholder {
	color: #bbbaba;
    font-family: "RobotoLight", sans-serif;
	font-size: 12px;
	opacity: 1;
}
*:-moz-placeholder {
	color: #bbbaba;
    font-family: "RobotoLight", sans-serif;
	font-size: 12px;
	opacity: 1;
}
*::-moz-placeholder {
	color: #bbbaba;
    font-family: "RobotoLight", sans-serif;
	font-size: 12px;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #bbbaba;
    font-family: "RobotoLight", sans-serif;
	font-size: 12px;
	opacity: 1;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #acacac;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888888;
}
::-webkit-scrollbar-thumb:active {
  background: #696969;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
body {
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
    min-width: 765px;
}
.container.main{
    margin: 30px auto 0 auto;
    box-shadow: 0px 0px 15px 0px #d8d8d8;
}

/*Хедер*/

header{
    padding: 20px 10px 0 10px;
}
.header-top-block{
    margin-bottom: 10px;
    padding: 0;
}

/*Кнопки авторизации и регистрации*/

.log-in-btn{
    display: none;
}
.log-out-btn{

}

/*Кнопки авторизации и регистрации*/

.log-btn{
    display: none;
}
.log-btn a{
    font-family: "RobotoBold", sans-serif;
    font-size: 15px;
}
.log-btn a:hover,
.log-btn a:focus,
.log-btn a:active
{
    color: #a2a2a2;
}
.enter-btn,
.exit-btn{
    color: #fc2d9c;
}
.make-diary-btn,
.profile-btn{
    color: #020202;
}
.log-btn{
    float: left;
}
.soc-btn{
    float: right;
}
.soc-btn a,
.soc-btn input
{
    display: inline-block;
    vertical-align: middle;
}
.soc-btn a.soc{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 2px;
    background: url('../img/sprite-soc.png') no-repeat;
}
.soc-btn a.soc-btn-f{
    background-position: 0 0;
}
.soc-btn a.soc-btn-vk{
    background-position: -33px 0;
}
.soc-btn a.soc-btn-insta{
    background-position: -67px 0;
}
.soc-btn a.soc-btn-f:hover{
    background-position: 0 -59px;
}
.soc-btn a.soc-btn-vk:hover{
    background-position: -33px -59px;
}
.soc-btn a.soc-btn-insta:hover{
    background-position: -67px -59px;
}
.soc-btn .search-input{
    display: none;
}
.soc-btn a.search-btn{
    width: 30px;
    height: 30px;
    background: url('../img/search-icon.png') no-repeat;
    background-position: 5px 7px;
}
.logo-top{
    text-align: center;
    padding: 30px 10px;
    background: #fbfbfb;
}
.logo-top img{
    width: 250px;
}

/*Меню*/

.main-nav{
    display: table;
    width: 100%;
    padding-left: 0;
    padding-bottom: 5px;
}
.main-nav li{
    list-style: none;
    display: table-cell;
    text-align: center;
}
.main-nav li>a{
    font-family: "RobotoMedium", sans-serif;
    font-size: 18px;
    color: #020202;
    padding: 10px 10px -1px 10px;
    opacity: 0.8;
}
.main-nav li>a:hover,
.main-nav li>a:focus,
.main-nav li>a:active
{
    color: #000000;
    border-bottom: 2px solid #000;
    opacity: 1;
}
.main-nav li>a.active{
    color: #000000;
    border-bottom: 2px solid #000;
    opacity: 1;
}

.sub-nav{
    display: table;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.sub-nav li{
    display: table-cell;
    text-align: center;
    list-style: none;
    border-top: 1px solid #1a1a1a;
    border-bottom: 1px solid #1a1a1a;
}
.sub-nav li > a{
    font-family: "RobotoBold", sans-serif;
    font-size: 14px;
    color: #979696;
    text-transform: uppercase;
    padding: 15px 5px;
    display: block;
}
.sub-nav li > a:hover,
.sub-nav li > a:active{
    color: #000;
}

/*Новости*/

section.content > div{
    padding-bottom: 20px;
}
.news-img{
    position: relative;
}
.news-img img{
    width: 100%;
}
.mask{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.2);
    display: none;
}
.news-img:hover .mask{
    display: block;
}
.news-data{
    padding: 10px 0;
}
.news-label a{
    display: block;
    font-family: "RobotoBold", sans-serif;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 4px;
    width: 80px;
    text-align: center;
    float: left;
}
.news-label.reviews a{
    background: #313131;
}
.news-label.new a{
    background: #c4a384;
}
.news-label.hack a{
    background: #a79f97;
}
.news-label.collections a{
    background: #906744;
}
.news-label.new a:hover,
.news-label.new a:focus,
.news-label.new a:active{
    background: #d8b491;
}
.news-label.reviews a:hover,
.news-label.reviews a:focus,
.news-label.reviews a:active{
    background: #414141;
}
.news-label.hack a:hover,
.news-label.hack a:focus,
.news-label.hack a:active{
    background: #beb5ac;
}
.news-label.collections a:hover,
.news-label.collections a:focus,
.news-label.collections a:active{
    background: #a7774f;
}
.news-date{
    float: right;
    text-align: right;
    font-family: "PTSans", sans-serif;
    font-size: 13px;
    color: #a4a4a4;
    font-style: italic;
}
.news-descr a{
    font-family: "OpenSans-Semibold", sans-serif;
    font-size: 14px;
    color: #313131;
    display: inline-block;
    min-height: 60px;
}
.news-descr a:hover,
.news-descr a:focus,
.news-descr a:active{
    color: #9d9d9d;
}
.news-bottom .views,
.news-bottom .comments{
    position: relative;
    padding-left: 23px;
    padding-right: 15px;
    font-family: "PTSans", sans-serif;
    font-size: 12px;
    color: #b3b3b3;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.news-bottom .views:before,
.news-bottom .comments:before{
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 20px;
    height: 20px;
    background: url('../img/veiws-comments.png') no-repeat;
}
.news-bottom .views:before{
    background-position: 0 0;
}
.news-bottom .comments:before{
    background-position: -50px 0;
}
.add-news{
    text-align: center;
    padding: 20px 10px;
}
.add-news a{
    display: inline-block;
    position: relative;
    font-family: "RobotoBold", sans-serif;
	font-size: 14px;
    color: #141414;
    text-transform: uppercase;
    padding: 7px 10px 10px 40px;
}
.add-news a:before{
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    background: url('../img/add-news-btn.png') no-repeat;
    background-position: 0 0;
}

/*Панель блогов*/

section.blogs{
    padding: 0;
}
.best-diaries{
    border: 1px solid #eae5e5;
    padding: 0 15px;
}
.blogs-title{
    font-family: "RobotoBold", sans-serif;
    font-size: 15px;
    color: #313131;
    text-transform: uppercase;
}
.blogs-title > span{
    color: #fc2d9c;
}
.diary-item{
    padding: 15px 0;
    border-bottom: 1px dotted #eae5e5;
}
.diary-img{
    padding-right: 15px;
}
.diary-data,
.diary-img{
    display: inline-block;
    vertical-align: top;
}
.diary-data .author-name a{
    font-family: "PTSerif-Caption", sans-serif;
    font-size: 13px;
    font-style: italic;
    color: #141414;
    padding-bottom: 10px;
}
.diary-data .author-name a:hover{
    cursor: pointer;
    color: #12bef0;
}
.diary-data .author-rating{
    font-family: "RobotoRegular", sans-serif;
	font-size: 12px;
    color: #141414;
}

.goods-item{
    background: #fbfbfb;
    padding: 5px 0;
    margin: 10px auto;
}
.goods-data,
.goods-img{
    display: inline-block;
    vertical-align: top;
}
.goods-data{
    width: 170px;
}
.goods-name a{
    font-family: "PTSerif-Caption", sans-serif;
    font-size: 12px;
    color: #141414;
    padding-bottom: 10px;
}
.goods-name a:hover{
    color:#a2a2a2;
    text-decoration: none;
}
.goods-comments{
    font-family: "PTSans", sans-serif;
    font-size: 13px;
    color: #706f6f;
    padding-left: 20px;
    position: relative;
}
.goods-comments:before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 0;
    background: url('../img/view-blogs.png') no-repeat;
    background-position: 0 0;
}

.posts{
    padding: 0 5px;
}
.title-black{
    font-family: "RobotoBold", sans-serif;
    font-size: 14px;
    color: #151414;
    padding: 0 5px;
    text-transform: uppercase;
}
.post-name a{
    font-family: "PTSerif-Caption", sans-serif;
    font-size: 13px;
    font-style: italic;
    color: #141414;
}
.post-name a:hover{
    color: #a2a2a2;
}
.post-name span.post-author{
    font-family: "PTSerif-Caption", sans-serif;
    font-size: 13px;
    font-style: italic;
    color: #2ba5c8;
}
.all-posts{
    text-align: right;
}
.all-posts a{
    font-family: "RobotoRegular", sans-serif;
	font-size: 14px;
    color: #141414;
}
.all-posts a:hover{
    text-decoration: underline;
}



footer.main-footer{

}
footer.main-footer .container{
    background: #f5f5f5;
    box-shadow: 0px 10px 15px 0px #d8d8d8;
}
footer.main-footer .left{
    float: left;
}
footer.main-footer .left > p{
    display: inline-block;
    vertical-align: middle;
}
footer.main-footer .left > p > a{
    font-family: "RobotoRegular", sans-serif;
	font-size: 14px;
    color: #676767;
    display: block;
    padding: 10px 40px;
}
footer.main-footer .left > p > a:hover{
    color: #b0afaf;
}
footer.main-footer .right{
    float: right;
    line-height: 4;
}
footer.main-footer .footer-logo{
    font-family: "PTSans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #444242;
    line-height: 1;
}
footer.main-footer .footer-logo > span{
    font-family: "RobotoBold", sans-serif;
	font-size: 12px;
    color: #bbbaba;
}
footer.main-footer .soc-btn a.soc{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 2px;
    background: url('../img/sprite-soc.png') no-repeat;
}
footer.main-footer .soc-btn a.soc-btn-f:hover{
    background-position: 0 0;
}
footer.main-footer .soc-btn a.soc-btn-vk:hover{
    background-position: -33px 0;
}
footer.main-footer .soc-btn a.soc-btn-insta:hover{
    background-position: -67px 0;
}
footer.main-footer .soc-btn a.soc-btn-f{
    background-position: 0 -59px;
}
footer.main-footer .soc-btn a.soc-btn-vk{
    background-position: -33px -59px;
}
footer.main-footer .soc-btn a.soc-btn-insta{
    background-position: -67px -59px;
}

/*Авторизация*/

.modal-window{
    width: 400px;
    padding: 20px;
    display: none;
}
.modal-window .modal-title{
    font-family: "RobotoBold", sans-serif;
    font-size: 24px;
    color: #fc49a9;
    text-align: center;
    margin: 0 auto 19px auto;
}
.modal-window .input-wrap{
    padding: 10px 0;
}
.modal-window .input-wrap label{
    font-family: "RobotoBold", sans-serif;
    font-size: 17px;
    color: #fc49a9;
    text-align: left;
    width: 24%;
    line-height: 1;
}
.modal-window .input-wrap label,
.modal-window .input-wrap input,
.modal-window .input-wrap select{
    display: inline-block;
    vertical-align: middle;
}
.modal-window .input-wrap input,
.modal-window .input-wrap select{
    width: 74%;
    border: 1px solid #dadada;
    border-radius: 4px;
    outline: none;
    padding: 5px;
}
.fancybox-skin{
    border: 4px solid #fc49a9;
}
.fancybox-overlay{
    background-image: none;
    background: rgba(255, 255, 255, 0.7);
}
.input-wrap button.enter,
.input-wrap a.next-step
{
    background: #fc68b8; /* Old browsers */
    background: -moz-linear-gradient(top,  #fc68b8 0%, #fc339e 100%, #fc339e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fc68b8 0%,#fc339e 100%,#fc339e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fc68b8 0%,#fc339e 100%,#fc339e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc68b8', endColorstr='#fc339e',GradientType=0 ); /* IE6-9 */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: #fff;
    font-family: "RobotoBold", sans-serif;
    font-size: 15px;
    text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0px 4px 7px 0px #808080;
}
.input-wrap a.next-step{
    display: block;
    width: 90px;
    margin: auto;
    text-align: center;
}
.input-wrap button.enter:hover,
.input-wrap a.next-step:hover{
    background: #ff9fd3; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff9fd3 0%, #fc339e 100%, #fc36a0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ff9fd3 0%,#fc339e 100%,#fc36a0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ff9fd3 0%,#fc339e 100%,#fc36a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9fd3', endColorstr='#fc36a0',GradientType=0 ); /* IE6-9 */
}
.input-wrap button.enter:active,
.input-wrap a.next-step:active{
    box-shadow: none;
}
.input-wrap .forgot-pass{
    font-family: "RobotoBold", sans-serif;
    font-size: 16px;
    color: #000;
    padding-left: 135px;
    display: inline-block;
    vertical-align: middle;
}
.input-wrap .forgot-pass:hover{
    color: #939393;
}
.modal-text{
    font-family: "RobotoRegular", sans-serif;
    font-size: 19px;
    color: #000;
    text-align: center;
}
.input-wrap .next-step.reg{
    margin: auto 0 auto auto;
    position: relative;
}
.input-wrap .next-step.reg:before{
    content: url('../img/arrow.png');
    position: absolute;
    top:12px;
    left: -65px;
    width: 50px;
    height: 20px;
}
.input-wrap.wrap-logo{
    position: relative;
    padding-top: 30px;
}
.modal-bottom-logo{
    position: absolute;
    width: 100px;
    top: 32px;
    left: 0;
}



.modal-title-2{
    padding-bottom: 20px;
}
.modal-title-2 .reg-steps{
    font-family: "RobotoLight", sans-serif;
    font-size: 16px;
    color: #888585;
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}
.modal-title-2 .reg-diary{
    font-family: "RobotoSlab-Bold";
    color: #000;
    text-transform: uppercase;
    width: 53%;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-align: right;
}
.modal-title-2 .reg-diary .pink{
    font-family: "RobotoSlab-Regular", sans-serif;
    font-size: 12.2px;
    color: #fc49a9;
}
.datepicker{
    z-index: 9999999;
}
.modal-title-2 .reg-info{
    font-family: "RobotoRegular", sans-serif;
	font-size: 13px;
    color: #000;
    display: inline-block;
    vertical-align: middle;
    width: 53%;
}
.reg-win-footer{
    text-align: center;
    padding-top: 20px;
}
.reg-win-footer img{
    width: 100px;
}

/*Страница одного бренда*/

section.brand-content{
    padding-top: 15px;
    background: #fbfbfb;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
}
.brand-img img{
    width: 100%;
    border: 2px solid #ededed;
}
.brand-products-title{
    font-family: "RobotoMedium", sans-serif;
    font-size: 18px;
    color: #0d0c0c;
    border-bottom: 1px solid #e7e8ea;
    padding-bottom: 10px;
    margin-bottom: 0;
}
.prod-categories{
    padding-left: 0;
    margin-top: 0;
}
.prod-categories > li{
    list-style: none;
    padding-left: 35px;
    position: relative;
}
.prod-categories > li:before{
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    top: 11px;
    left: 0;
    background: #fff;
    border: 4px solid #ff43bf;
    border-radius: 50%;
}
.prod-categories > li > a{
    font-family: "RobotoRegular", sans-serif;
	font-size: 11px;
    color: #0d0d0d;
    text-transform: uppercase;
    display: block;
    padding: 15px 0;
    border-bottom: 1px solid #f0f0f1;
}
.prod-categories > li:hover:before{
    background: #ff43bf;
}
.brand-main-title{
    font-family: "RobotoSlab-Regular", sans-serif;
    font-size: 34px;
    color: #121212;
    margin-top: 0;
}
.info-table table{
    width: 100%;
}
.info-table table > tbody > tr{
    border-bottom: 1px solid #e7e8ea;
}
.info-table table > tbody > tr > td{
    font-family: "RobotoRegular", sans-serif;
	font-size: 12px;
    color: #0d0c0c;
    text-align: left;
    padding: 10px 10px 10px 0;
}
.info-table table > tbody > tr > td:first-child{
    font-family: "RobotoRegular", sans-serif;
	font-size: 14px;
    color: #0d0c0c;
}
.info-table table > tbody > tr > td > a{
    color: #2aa1c4;
}
.info-table table > tbody > tr > td > a:hover{
    text-decoration: underline;
}
.table-icon{
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url('../img/sprite-soc-2.png') no-repeat;
    margin-right: 5px;
}
.table-icon.icon-fb{
    background-position: 0 0;
}
.table-icon.icon-vk{
    background-position: -32px 0;
}
.table-icon.icon-p{
    background-position: -64px 0;
}
.table-icon.icon-insta{
    background-position: -97px 0;
}
.table-icon.icon-tw{
    background-position: -130px 0;
}
.brand-description{
    font-family: "RobotoRegular", sans-serif;
	font-size: 12px;
    color: #575656;
    padding: 25px 0;
}
.brand-keywords{
    padding: 25px 0;
    border-top: 1px solid #e7e8ea;
}
.brand-keywords a{
    display: inline-block;
    vertical-align: middle;
    font-family: "RobotoMedium", sans-serif;
    font-size: 13px;
    color: #5c595b;
    text-transform: uppercase;
    padding: 1px 5px;
    border: 1px solid #ff43bf;
    margin: 3px;
}
.brand-keywords a:hover{
    color: #fff;
    background: #ff43bf;
}
.crumbs{
    padding-left: 15px;
}
.crumbs > span > a{
    font-family: "RobotoRegular", sans-serif;
	font-size: 11px;
    color: #000;
    text-decoration: underline;
}
.crumbs > span:last-child a{
    color: #737272;
    text-decoration: none;
}
.crumbs > span:after{
    content: '/';
    display: inline;
    padding: 0 0 0 5px;
    font-size: 12px;
}
.crumbs > span:last-child:after{
    display: none;
}


.brand-prod{
    padding: 0 0 20px 0;
}
.product-list{
    padding:0;
}
.product-item{
    padding-top: 20px;
}
.prod-img img{
    width: 100%;
    border: 1px solid #e7e8ea;
}
.prod-item-name{
    margin-bottom: 5px;
}
.prod-item-name a{
    font-family: "RobotoMedium", sans-serif;
	font-size: 14px;
    color: #000;
    text-transform: uppercase;
    line-height: 1;
}
.prod-item-name a:hover{
    color: #808080;
    text-decoration: none;
}

/*Фильтры*/

.filter-wrap{
    background: #fbfbfb;
}
.filter-btn-wrap{
    margin: 0 auto;
    position: relative;
}
.filter-btn-wrap a{
    display: block;
    font-family: "RobotoSlab-Regular", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #0d0c0c;
    padding: 10px 20px 10px 10px;
    width: 100%;
    background: #fbfbfb;
    border: 1px solid #eeeeee;
}
.filter-btn-wrap span.carret{
    position: absolute;
    top: 7px;
    right: 10px;
}
.filter-open{
    padding-bottom: 15px;
    display: none;
}
.filter-search{
    width: 90%;
    margin: auto;
    padding: 10px 0;
}
.filter-search input{
    background: #fff;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding: 5px 10px;
    width: 100%;
    outline: none;
    position: relative;
}
.filter-categoies{
    width: 90%;
    margin: auto;
    border: 1px solid #eeeeee;
    border-radius: 4px;
}
.categ-title{
    font-family: "RobotoRegular", sans-serif;
	font-size: 12px;
    color: #0d0d0d;
    border-bottom: 1px solid #eeeeee;
    padding: 10px;
    margin: 0 auto;
    background: #fff;
}
.filter-categoies > ul{
    padding-left: 10px;
    margin-top: 0;
    max-height: 200px;
    overflow: auto;
}
.filter-categoies > ul > li{
    list-style: none;
    position: relative;
}
.filter-categoies > ul > li:after{
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: 14px;
    right: 15px;
    background: #ff43bf;
    border: 2px solid #fff;
    border-radius: 50%;
    display: none;
}
.filter-categoies > ul > li:hover:after{
    display: block;
}
.filter-categoies > ul > li:hover > a{
    color: #ff43bf;
}
.filter-categoies > ul > li:active > a{
    color: #ff43bf;
}
.filter-categoies > ul > li > a{
    display: inline-block;
    padding: 10px;
    color: #0c0c0c;
    font-family: "RobotoRegular", sans-serif;
	font-size: 12px;
}
.filter-categoies > ul > li > img{
    display: inline-block;
    vertical-align: middle;
}
.filter-control{
    text-align: center;
    padding: 10px 0;
}
.filter-control a{
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    background: #fff;
    border: 2px solid #eeeeee;
    color: #8b8b8b;
    font-family: "RobotoBold", sans-serif;
	font-size: 12px;
    text-transform: uppercase;
    margin: 4px 2px;
}

/*Страница новости*/

.news-main-title{
    font-family: "RobotoMedium", sans-serif;
    font-size: 24px;
    color: #000000;
    margin: 0 auto;
}
.news-main-pic img{
    width: 100%;
    border: 1px solid #eeeeee;
}
.news-main-descr{
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    color: #000000;
}
section.content > div.source{
    padding-bottom: 0;
}
.source{
    font-family: "RobotoRegular", sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #898989;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.source .author span{
    font-family: "PTSerif-Caption", sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #141414;
}
.source .author,
.source .add-source{
    width: 48%;
}
.source .author{
    float: left;
}
.source .add-source{
    float: right;
    text-align: right;
}
.source .add-source a{
    font-family: "RobotoRegular", sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #898989;
    text-decoration: underline;
}
.comments-title{
    font-family: "RobotoMedium", sans-serif;
    font-size: 18px;
    color: #000000;
    width: 20%;
    float: left;
    padding-top: 3px;
}
.comments-share{
    width: 77%;
    float: right;
    text-align: right;
}
.comments-share span{
    display: inline-block;
    vertical-align: super;
    font-family: "RobotoMedium", sans-serif;
    font-size: 15px;
    color: #000000;
    font-style: italic;
    padding-right: 15px;
}
.comments-share a.com-share{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 2px;
    background: url('../img/sprite-soc.png') no-repeat;
}
.comments-share a.com-share.share-btn-f:hover{
    background-position: 0 0;
}
.comments-share a.com-share.share-btn-vk:hover{
    background-position: -33px 0;
}
.comments-share a.com-share.share-btn-insta:hover{
    background-position: -67px 0;
}
.comments-share a.com-share.share-btn-f{
    background-position: 0 -59px;
}
.comments-share a.com-share.share-btn-vk{
    background-position: -33px -59px;
}
.comments-share a.com-share.share-btn-insta{
    background-position: -67px -59px;
}
.comment-author{
    width: 8%;
    float: left;
    padding-top: 3px;
    margin-right: 10px;
}
.comment-wrap{
    width: 88%;
    float: right;
}
.comment-wrap textarea{
    width: 100%;
    min-height: 100px;
    border: 1px solid #dddddd;
    padding: 10px;
    outline: none;
}

/*Список брендов*/

section.brand-list-content{
    background: #fbfbfb;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
}
.brand-search{
    padding: 0 20px 20px 20px;
}
.brand-search-title{
    font-family: "RobotoSlab-Regular", sans-serif;
    font-size: 24px;
    color: #100f0f;
    padding-right: 30px;
}
.brand-search-title,
.brand-input{
    display: inline-block;
    vertical-align: middle;
}
.brand-input input{
    background: #fff;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    padding: 5px 10px;
    width: 100%;
    outline: none;
}
.brand-links a{
    display: inline-block;
    vertical-align: top;
    font-family: "RobotoSlab-Regular", sans-serif;
    font-size: 16px;
    color: #100f0f;
    width: 35px;
    height: 35px;
    margin: 2px 1px;
    background: #e9e9e8;
    text-align: center;
    line-height: 35px;
}
.brand-links a:hover,
.brand-links a:active{
    color: #fff;
    background: #fc2d9c;
}
.add-brand-btn{
    text-align: right;
    padding-right: 10px;
    padding-top: 20px;
}
.add-brand-btn a{
    background: #fc68b8; /* Old browsers */
    background: -moz-linear-gradient(top,  #fc68b8 0%, #fc339e 100%, #fc339e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fc68b8 0%,#fc339e 100%,#fc339e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fc68b8 0%,#fc339e 100%,#fc339e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc68b8', endColorstr='#fc339e',GradientType=0 ); /* IE6-9 */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: #fff;
    font-family: "RobotoBold", sans-serif;
    font-size: 15px;
    text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0px 4px 7px 0px #808080;
}
.add-brand-btn a:hover{
    background: #ff9fd3; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff9fd3 0%, #fc339e 100%, #fc36a0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ff9fd3 0%,#fc339e 100%,#fc36a0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ff9fd3 0%,#fc339e 100%,#fc36a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9fd3', endColorstr='#fc36a0',GradientType=0 ); /* IE6-9 */
}
.add-brand-btn a:active{
    box-shadow: none;
}
.brand-list{
    padding: 0 20px 20px 20px;
}
.brand-list-title{
    color: #100f0f;
    font-family: "RobotoSlab-Regular", sans-serif;
    font-size: 24px;
    border-bottom: 1px solid #e0e0e1;
    margin-bottom: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.brand-list ul{
    padding: 0;
}
.brand-list ul > li{
    list-style: none;
}
.brand-list ul > li > a{
    font-family: "RobotoSlab-Regular", sans-serif;
    font-size: 13px;
    color: #777777;
}
.brand-list ul > li > a:hover{
    text-decoration: underline;
}
.brand-list ul{
    list-style-position: inside;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
    list-style-type: decimal;
    max-height: 250px;
    overflow: hidden;
}

/*Страница продукта*/

.brand-logo{
    text-align: center;
}
.brand-logo img{
    width: 35%;
}
.brand-product{
    font-family: "open-sans", sans-serif;
    font-size: 14px;
    color: #313131;
}
.brand-product-descr{
    font-family: "RobotoRegular", sans-serif;
	font-size: 14px;
    color: #313131;
}
a.palette{
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
}
a.palette.palette1{
    background: #181818;
}
a.palette.palette2{
    background: #285185;
}
a.palette.palette3{
    background: #277449;
}
a.palette.palette4{
    background: #2f2a9e;
}
.product-sign{
    font-family: "RobotoBold", sans-serif;
	font-size: 14px;
    color: #0d0c0c;
}
.product-sign span.product-descr{
    font-family: "RobotoRegular", sans-serif;
	font-size: 14px;
    color: #7a7979;
    text-decoration: underline;
}
.product-descr-2{
    font-family: "RobotoRegular", sans-serif;
	font-size: 11px;
    color: #0d0c0c;
}
.left-side{
    padding-bottom: 30px;
}
.left-side .bx-wrapper{
    margin: 20px auto;
}
.left-side .bx-controls-direction{
    display: none;
}
.product-slider > div > img{
    width: 100%;
}
#bx-pager a > img{
    border: 1px solid #ededed;
}
.swatch{
    padding: 10px;
    border: 1px solid #ededed;
    margin: 20px auto;
}
.swatch .product-sign{
    margin-top: 5px;
}
.swatch-container img{
    display: inline-block;
    vertical-align: top;
    margin: 3px 2px;
    border: 1px solid #ededed;
    padding: 7px;
    background: #fff;
    cursor: pointer;
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}
.swatch-container img:hover{
    opacity: 1;
    -webkit-transform: scale(1.5,1.7);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 550ms;
    -moz-transform: scale(1.5,1.7);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 550ms;
}
.swatch .load-all{
    font-family: "RobotoRegular", sans-serif;
	font-size: 12px;
    color: #7a7979;
    text-decoration: underline;
}
.load-btn{
    text-align: right;
}
.similar-products-container img{
    border: 1px solid #ededed;
}

/*Строка отзывов*/

.reviews-icons{
    padding-top: 30px;
    border-top: 3px solid #efefef;
}
.reviews-icons > div{
    display: inline-block;
    vertical-align: middle;
    padding-right: 80px;
}
.reviews-icons > div:last-child{
    padding-right: 0;
}
.add-review-btn a{
    background: #fc68b8; /* Old browsers */
    background: -moz-linear-gradient(top,  #fc68b8 0%, #fc339e 100%, #fc339e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fc68b8 0%,#fc339e 100%,#fc339e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fc68b8 0%,#fc339e 100%,#fc339e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc68b8', endColorstr='#fc339e',GradientType=0 ); /* IE6-9 */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: #fff;
    font-family: "RobotoBold", sans-serif;
    font-size: 15px;
    text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0px 4px 7px 0px #808080;
}
.add-review-btn a:hover{
    background: #ff9fd3; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff9fd3 0%, #fc339e 100%, #fc36a0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ff9fd3 0%,#fc339e 100%,#fc36a0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ff9fd3 0%,#fc339e 100%,#fc36a0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9fd3', endColorstr='#fc36a0',GradientType=0 ); /* IE6-9 */
}
.add-review-btn a:active{
    box-shadow: none;
}
.add-review-btn-green{
    text-align: right;
    margin-top: 10px;
}
.add-review-btn-green a{
    background: #63c878; /* Old browsers */
    background: -moz-linear-gradient(top,  #63c878 0%, #63c878 100%, #66d17d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #63c878 0%,#63c878 100%,#66d17d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #63c878 0%,#63c878 100%,#66d17d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc68b8', endColorstr='#fc339e',GradientType=0 ); /* IE6-9 */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: #fff;
    font-family: "RobotoBold", sans-serif;
    font-size: 15px;
    text-shadow: 0px 1px 2px rgba(150, 150, 150, 1);
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0px 4px 7px 0px #808080;
}
.add-review-btn-green a:hover{
    background: #66d17d; /* Old browsers */
    background: -moz-linear-gradient(top,  #66d17d 0%, #66d17d 100%, #63c878 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #66d17d 0%,#66d17d 100%,#63c878 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #66d17d 0%,#66d17d 100%,#63c878 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9fd3', endColorstr='#fc36a0',GradientType=0 ); /* IE6-9 */
}
.add-review-btn-green a:active{
    box-shadow: none;
}
.reviews-vote a{
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    font-family: "RobotoRegular", sans-serif;
	font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 25px;
    border-radius: 50%;
    background: #696969;
    text-align: center;
    font-weight: bold;
    margin: 0 1px;
}
.reviews-vote a:nth-child(5){
    background: #fff;
    border: 1px solid #696969;
    color: #696969;
    font-size: 30px;
    font-weight: bold;
    line-height: 20px;
}
.reviews-vote a:nth-child(1):hover{
    background: #fc2d9c;
}
.reviews-vote a:nth-child(2):hover{
    background: #fbc903;
}
.reviews-vote a:nth-child(3):hover{
    background: #819f67;
}
.reviews-vote a:nth-child(4):hover{
    background: #dc4444;
}
.reviews-vote a:nth-child(5):hover{
    color: #e21919;
    border: 1px solid #e21919;
}
.reviews-vs span{
    display: inline-block;
    vertical-align: middle;
}
span.rw-num{
    font-family: "RobotoSlab-Bold", sans-serif;
    font-size: 16px;
    color: #000;
    text-decoration: underline;
}
.rew-vs-icon{
    margin: 0 5px;
}
.rew-vs-icon.h{
    background: url('../img/rw-heart.png') no-repeat;
    background-position: 0 0;
    width: 27px;
    height: 27px;
}
.rew-vs-icon.br-h{
    background: url('../img/rew-break-heart.png') no-repeat;
    background-position: 0 0;
    width: 27px;
    height: 27px;
}
.rew-vs{
    font-family: "RobotoBold", sans-serif;
    font-size: 16px;
    color: #fc2d9c;
    text-transform: uppercase;
}
.rw-sum-t{
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
    color: #000;
}
.read-reviews{
    margin: 30px 0;
    background: #fbfbfb;
    padding: 0 20px 20px 20px;
}
.read-reviews-head .author{
    font-family: "PTSerif-Caption", sans-serif;
    font-size: 13px;
    font-style: italic;
    color: #12bef0;
    float: left;
}
.read-reviews-head .date{
    font-family: "RobotoRegular", sans-serif;
    font-size: 12px;
    color: #726f6f;
    float: right;
}
.read-reviews-body p.product-sign{
    margin: 0;
}
.read-reviews-body .body-text{
    font-family: "RobotoRegular", sans-serif;
    font-size: 12px;
    color: #726f6f;
    margin: 0;
}

.banner{
    margin-bottom: 10px;
}

.modal-window .input-wrap.add-brand-wrap,
.modal-window .input-wrap.add-brand-class{
    padding: 5px 0;
}
.input-wrap.add-brand-wrap label{
    color: #8c8b8b;
    width: 100%;
    padding-bottom: 5px;
}
.input-wrap.add-brand-wrap input{
    width: 100%;
}
.input-wrap.add-brand-class label{
    color: #8c8b8b;
    width: 34.7%;
}
.input-wrap.add-brand-class select{
    width: 64%;
}
.add-brand-wrap textarea.add-brand-descr{
    width: 100%;
    min-height: 100px;
    border: 1px solid #dadada;
    border-radius: 4px;
    outline: none;
    padding: 5px;
}

















































