@font-face {
    font-family: 'Gotham Book Narrow';
    src: url('gotham-book-narrow.eot');
    src: url('gotham-book-narrow.eot?#iefix') format('embedded-opentype'),
    url('gotham-book-narrow.woff') format('woff'),
    url('gotham-book-narrow.ttf') format('truetype'),
    url('gotham-book-narrow.svg#GothamNarrow-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}