//COLORS
$white: #fff
$black: #000
$gray: #333
$orange: #ff8303
$lightGray: #e3e3e3
$fieldBg: #f7f7f7
$fieldError: #E71D36
$fieldValid: #8CD790

$pageBg: $white
$cta-btn-bg: $orange
$cta-btn-color: $white

$paragraph: $gray
$heading: $black
$footerBg: $gray

.orange
  color: $orange

