@import "bootstrap.css"
@import "colors"
@import "fonts"
@import "slider"

//RESET
*
  margin: 0
  padding: 0
  box-sizing: border-box
  appearance: none
  outline: none
  &::selection
    background: $orange
    color: $white

html, body
  height: 100%

img
  max-width: 100%
  cursor: pointer
  &:hover
    filter: brightness(1.2) 

%clearfix
  &::after
    content: " "
    clear: both
    display: table
//END reset

//BEGIN banner
$bannerHeight: 450px
.banner
  position: relative
  width: 100%
  height: $bannerHeight
  background: $gray
  z-index: -10
  &__content
    z-index: 10
    text-shadow: 1px 1px 0px $gray
    margin-top: 3.5em
    font-size: 2.25em
    line-height: 1
    color: $white
    font-family: "PTSans Regular", sans-serif
    @media screen and(max-width: 768px)
      margin-top: 150px
      font-size: 20px
  &__bg
    position: absolute
    top: 0
    left: 0
    width: 100%
    min-height: $bannerHeight
    background: #333 url('../img/banner.jpg') no-repeat 0 0
    background-size: cover
    background-attachment: fixed
    z-index: -1
  &__overlay
    box-sizing: content-box
    display: block
    position: absolute
    top: 0
    right: 0
    height: 0 
    width: 50%
    border-bottom: $bannerHeight solid rgba($black, 0.6)
    border-left: 200px solid transparent
    border-right: 0px solid transparent
    z-index: 1
//END banner

//BEGIN sticky footer
$footerHeight: 4.5rem
.page-wrap
  @extend %clearfix
  min-height: 100%
  margin-bottom: -$footerHeight
  &::after
    content: " "
    display: table
    height: $footerHeight
.footer
  @extend %clearfix
  height: $footerHeight
  overflow: hidden
  line-height: $footerHeight
  background: $gray url('../img/bg1.jpg')
  color: $white
//END footer

//BEGIN header
$headerHeight: $footerHeight
.header
  &__top
    background: $gray url('../img/bg1.jpg')
    height: $headerHeight
    .container
      position: relative
  &__bottom
    background: $lightGray
    height: $headerHeight
//END header

//BEGIN nav-menu
.nav-menu
  background: $lightGray
  &__item
    list-style-type: none
    position: relative
    display: inline-block
    height: $headerHeight
    line-height: $headerHeight
    padding: 0 30px
    &:hover
      background: $orange
      color: $white
      box-shadow: inset 0 -3px 0 0 $gray
      &::before
        content: "\25b2"
        color: $gray
        width: 20px
        height: 20px
        position: absolute
        top: 50%
        left: 50%
        margin-left: -10px
        margin-top: -8px
        text-align: center
    @media screen and(max-width: 30rem)
      display: block
      height: 3.125rem
      line-height: 3.125rem
  &__link
    display: block
    font-weight: bold
    font-size: 1.1em
// END nav-menu

//BEGIN overlay
$triangleWidth: 22.8125rem
.overlay-triangle
  display: inline-block
  position: absolute
  top: 0
  right: 0px
  width: 0
  height: 0
  border-style: solid
  &--bottom
    z-index: 100
    border-width: 0 $triangleWidth 9.375rem 0
    border-color: transparent  $white transparent transparent
  &--top
    z-index: 200
    border-width: 0 $triangleWidth - 0.1875rem 9.25rem 0
    border-color: transparent  $black transparent transparent
    &:hover
      border-color: transparent  $orange transparent transparent
    
.overlay-text
  position: absolute
  right: 25px
  top: 10px
  z-index: 300
  color: $white
  font-size: 20px
  font-style: normal
  text-transform: uppercase
  text-align: right

.overlay-trapeze
  display: block
  position: absolute
  top: 24px
  left: 0
  height: 0 
  width: 200px
  border-bottom: 50px solid $lightGray
  border-right: 50px solid transparent
  border-left: 0px solid transparent
  z-index: 100
  &:hover
    border-bottom: 50px solid $white 
//END overlay

//BEGIN form
.form__input, .form__textarea
  display: block
  width: 100%
  padding: 5px 10px
  margin: 1em 0
  border: 1px solid $lightGray
  background: $fieldBg
  font-size: 16px
  cursor: pointer
  &:focus
    border-color: $orange
  // &:invalid
  //  border-color: $fieldError
  &:valid
    border-color: $fieldValid

.form__textarea
  resize: none
//END form

//BEGIN cta-button
.btn
  display: block
  margin: 1em auto
  margin-top: 1.25em
  padding: 20px 25px
  width: auto
  border: none
  cursor: pointer
  &__submit
    &--cta
      background: $cta-btn-bg
      color: $cta-btn-color
      text-transform: uppercase
      font-weight: bold
      font-size: 20px
      &:hover
        background: darken($cta-btn-bg, 5%)
    &--oder
      background: none
      border: 1px solid $orange 
      color: $orange
      font-size: 18px
      &:hover
        background: $orange
        color: $white
//END cta-button

//BEGIN read-more link
.read-more
  display: inline-block
  margin: 15px 0
  font-weight: bold
  font-size: 18px
  border-bottom: 1px solid $black
  &:hover
    color: $orange
    border-bottom: 1px dashed $orange
  &::after
    content: ">"
    position: absolute
    margin-left: 5px
    color: $orange
    font-weight: bold
//END read-nore link

//BEGIN contacts
.contacts
  position: relative
  &__wrap
    @extend %clearfix
    height: 470px
    overflow: hidden
    margin-bottom: 1em
  &__caption
    height: 100%
    position: absolute
    top: 0
    left: 0
    background: $gray url('../img/bg2.jpg')
    color: $white
    padding: 2.5em
    .w-60
      display: inline-block
      min-width: 9.0625em
    .w-40
      display: inline-block
      min-width: 3.125em
  &__map img
    width: 100%
    margin-left: 14.6875em
//END contacts

//Custom
.section
  margin: 1em 0
  padding: 2em 0
  @media screen and(max-width: 30rem)
    padding: 0
  &__banner
    margin: 0
  &__contacts
    padding-top: 0
    padding-bottom: 4.5em
    @media screen and(max-width: 30rem)
      padding-bottom: 1em
  &__news
    padding-bottom: 1em
  &__coal
    background: $lightGray
    padding: 1.5em 0

.collapse
  padding: 0 !important
  margin: 0 !important

.figure
  position: relative
  overflow: hidden
  margin-bottom: 1.2em

.owerlay__wrap
  width: 100%
  overflow: hidden

.logo
  &__header
    margin: 5px 10px