@charset "UTF-8";
@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.eot");
  src: local("../fonts/Roboto-Bold"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.eot");
  src: local("../fonts/Roboto-Light"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  outline: none; }
  *::selection {
    background: #f3f3f3; }

img {
  max-width: 100%; }

a {
  color: inherit;
  text-decoration: none; }

.container::after, .row::after {
  content: " ";
  clear: both;
  display: table; }

.figure__container, .img__wrap, .section > .row, .flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap; }

html {
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  text-overflow: ellipsis;
  font-variant: normal;
  font-family: sans-serif;
  font-size: 16px; }

body {
  font-family: "Roboto Light", Helvetica, Arial, sans-serif;
  font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #555; }

.page-wrap {
  flex: 1 0 auto; }

.footer {
  background: #333;
  padding: 3em 0;
  color: #fff;
  text-align: center; }

.container {
  width: 100%;
  margin: auto;
  padding: 0 1em; }
  @media (min-width: 48rem) {
    .container {
      width: 46.875rem; } }
  @media (min-width: 62rem) {
    .container {
      width: 60.625rem; } }
  @media (min-width: 75rem) {
    .container {
      width: 73.125rem; } }

.row {
  padding: 0 1em; }
  @media screen and (max-width: 30rem) {
    .row {
      padding: 0 1.5em; } }

[class*="lg-"], [class*="md-"], [class*="sm"], [class*="xs"] {
  float: left; }

.xs-hide {
  display: none; }

.xs-visible {
  display: visible; }

.xs-pull-right {
  order: 1; }

.xs-pull-left {
  order: 0; }

.xs-6 {
  width: 50%; }

.xs-gap-6 {
  margin-left: 50%; }

@media screen and (min-width: 30rem) {
  .sm-hide {
    display: none; }

  .sm-visible {
    display: block; }

  .sm-pull-right {
    order: 1; }

  .sm-pull-left {
    order: 0; }

  .sm-6 {
    width: 50%; }

  .sm-gap-6 {
    margin-left: 50%; } }
@media screen and (min-width: 40rem) {
  .md-hide {
    display: none; }

  .md-visible {
    display: block; }

  .md-pull-right {
    order: 1; }

  .md-pull-left {
    order: 0; }

  .md-6 {
    width: 50%; }

  .md-gap-6 {
    margin-left: 50%; } }
@media screen and (min-width: 62rem) {
  .lg-pull-right {
    order: 1; }

  .lg-pull-left {
    order: 0; }

  .lg-visible {
    display: block; }

  .lg-hide {
    display: none; }

  .lg-6 {
    width: 50%; }

  .ld-gap-6 {
    margin-left: 50%; } }
.figure {
  flex-basis: 30%;
  min-width: 295px;
  margin-bottom: 3em;
  padding: 0 1.5em;
  text-align: center; }
  .figure__container {
    max-width: 1100px;
    margin: 0 auto; }
    @media screen and (max-width: 40rem) {
      .figure__container {
        width: 100%; } }
  @media screen and (max-width: 40rem) {
    .figure {
      flex-basis: 100%; } }
  .figure__heading {
    color: #000;
    margin-bottom: 0.5em; }
  .figure__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    margin: 0 auto 1em auto;
    border-radius: 50%;
    background: #f3f3f3;
    transition: all 300ms ease-in;
    cursor: pointer; }
    .figure__icon:hover {
      box-shadow: inset 0 0 5px 1px #e6e6e6;
      transform: scale(1.2); }
    .figure__icon::before {
      position: absolute;
      right: -30px;
      top: -10px;
      content: "скоро!";
      background: #46c327;
      padding: 3px 8px;
      border-radius: 5px;
      color: #fff;
      font-style: normal; }
    .figure__icon::after {
      content: "";
      display: block;
      width: 75px;
      height: 50px;
      background: url(../img/icons.svg) no-repeat 0 -10px; }
    .figure__icon--2::after {
      background-position: 0 -85px; }
    .figure__icon--3::after {
      background-position: 0 -160px; }
    .figure__icon--4::after {
      background-position: 0 -230px; }
    .figure__icon--5::after {
      background-position: 0 -305px; }

.heading {
  text-align: center;
  margin: 0.5rem 0 1.5em;
  color: #000; }
  .heading--2 {
    text-transform: uppercase;
    color: #999999;
    font-weight: 300;
    margin-bottom: 2em; }
    @media screen and (max-width: 62rem) {
      .heading--2 {
        margin-bottom: 1em; } }
  .heading--3 {
    text-align: left;
    margin-bottom: 0.5em;
    font-size: 1.75em;
    font-weight: 300;
    color: #555; }
    @media screen and (max-width: 40rem) {
      .heading--3 {
        font-size: 1.35em; } }
  .heading--footer {
    color: #fff; }

.btn {
  display: inline-block;
  cursor: pointer; }
  .btn--footer, .btn--header {
    border-radius: 30px;
    padding: 15px 40px;
    margin: 1em 0;
    text-transform: uppercase;
    color: #fff;
    background: #E86340;
    box-shadow: 0 1px 0 0 black;
    text-shadow: 0 0 1px #f2f2f2; }
    .btn--footer:hover, .btn--header:hover {
      box-shadow: 0 0 0 1px black;
      background: #eb7657; }
    @media screen and (max-width: 40rem) {
      .btn--footer, .btn--header {
        padding: 10px 25px; } }

.section {
  padding: 3em 0;
  margin: 1em 0; }
  @media screen and (max-width: 62rem) {
    .section {
      padding: 1em 0; } }
  .section--header {
    margin-top: 0;
    background: linear-gradient(90deg, #eaeaea, transparent, #eaeaea); }
  .section--3 {
    background: linear-gradient(#eaeaea 1%, transparent 20%); }

.text--header {
  width: 75%;
  font-size: 1.25em;
  margin: 1.5em 0 1em; }
  @media screen and (max-width: 40rem) {
    .text--header {
      width: 100%;
      font-size: 1.1em; } }
.text__wrap {
  margin-left: 2em;
  margin-top: 2em; }
  @media screen and (max-width: 62rem) {
    .text__wrap {
      margin-left: 0; } }

.col--l, .col--r {
  width: 60%;
  margin: 0 auto;
  font-size: 1.1em; }
  @media screen and (max-width: 62rem) {
    .col--l, .col--r {
      width: 100%;
      margin: 1em auto; } }
  @media screen and (max-width: 40rem) {
    .col--l, .col--r {
      font-size: 1em; } }
.col--l {
  margin-right: 0; }
.col--r {
  margin-left: 0; }

.img {
  display: block; }
  .img__wrap {
    position: relative; }
  .img__overley {
    position: absolute;
    display: block;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #f3f3f3, transparent, #f3f3f3);
    z-index: -1; }
    @media screen and (max-width: 40rem) {
      .img__overley {
        display: none; } }
    .img__overley--sm {
      width: 375px;
      height: 375px; }
      @media screen and (max-width: 40rem) {
        .img__overley--sm {
          display: none; } }

.decore-line {
  border: 1px solid rgba(243, 243, 243, 0.1);
  width: 40%;
  margin: 1.5em auto; }

.link--email {
  display: inline-block;
  margin: 0.5em 0;
  padding-bottom: 3px;
  color: #E86340;
  font-weight: 600;
  text-shadow: 0px 0 1px #e91e63; }
  .link--email:hover {
    border-bottom: 1px dashed #E86340; }

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
  background: #626262;
  transition: all 400ms ease-in; }
  .icon:hover {
    background: #E86340;
    transform: rotate(360deg); }
  .icon::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background: url("../img/icons2.svg") no-repeat 0 0; }
  .icon--2::after {
    background-position: 0 -42px; }
  .icon--3::after {
    background-position: 0 -84px; }
  .icon--4::after {
    background-position: 0 -127px; }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

/*# sourceMappingURL=index.css.map */
