@font-face {
    font-family: 'Gotham Book';
    src: url('gotham-book/gotham-book.eot?#iefix') format('embedded-opentype'),
        url('gotham-book/gotham-book.otf')  format('opentype'),
        url('gotham-book/gotham-book.woff') format('woff'),
        url('gotham-book/gotham-book.ttf')  format('truetype'),
        url('gotham-book/gotham-book.svg#Gotham-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('gotham-bold/gotham-bold.eot');
    src: url('gotham-bold/gotham-bold.eot?#iefix') format('embedded-opentype'),
         url('gotham-bold/gotham-bold.woff') format('woff'),
         url('gotham-bold/gotham-bold.ttf') format('truetype'),
         url('gotham-bold/gotham-bold.svg#Gotham') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book Condensed';
    src: url('gotham-book-condensed/gotham-book-condensed.eot?#iefix') format('embedded-opentype'),
        url('gotham-book-condensed/gotham-book-condensed.otf')  format('opentype'),
        url('gotham-book-condensed/gotham-book-condensed.woff') format('woff'),
        url('gotham-book-condensed/gotham-book-condensed.ttf')  format('truetype'),
        url('gotham-book-condensed/gotham-book-condensed.svg#Gotham-Book-Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book Narrow';
    src: url('gotham-book-narrow/gotham-book-narrow.eot');
    src: url('gotham-book-narrow/gotham-book-narrow.eot?#iefix') format('embedded-opentype'),
    url('gotham-book-narrow/gotham-book-narrow.woff') format('woff'),
    url('gotham-book-narrow/gotham-book-narrow.ttf') format('truetype'),
    url('gotham-book-narrow/gotham-book-narrow.svg#GothamNarrow-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Light Regular';
    src: url('gotham-light-webfont/gotham-light-webfont.eot');
    src: url('gotham-light-webfont/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('gotham-light-webfont/gotham-light-webfont.woff') format('woff'),
    url('gotham-light-webfont/gotham-light-webfont.ttf') format('truetype'),
    url('gotham-light-webfont/gotham-light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Light Condensed';
    src: url('gotham-light-condensed/gotham-light-condensed.eot?#iefix') format('embedded-opentype'),
        url('gotham-light-condensed/gotham-light-condensed.otf')  format('opentype'),
        url('gotham-light-condensed/gotham-light-condensed.woff') format('woff'),
        url('gotham-light-condensed/gotham-light-condensed.ttf')  format('truetype'),
        url('gotham-light-condensed/gotham-light-condensed.svg#Gotham-Light-Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('gotham-medium/gotham-medium.eot?#iefix') format('embedded-opentype'),
        url('gotham-medium/gotham-medium.otf')  format('opentype'),
        url('gotham-medium/gotham-medium.woff') format('woff'),
        url('gotham-medium/gotham-medium.ttf')  format('truetype'),
        url('gotham-medium/gotham-medium.svg#Gotham-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Medium Condensed';
    src: url('gotham-medium-condensed/gotham-medium-condensed.eot?#iefix') format('embedded-opentype'),
        url('gotham-medium-condensed/gotham-medium-condensed.otf')  format('opentype'),
        url('gotham-medium-condensed/gotham-medium-condensed.woff') format('woff'),
        url('gotham-medium-condensed/gotham-medium-condensed.ttf')  format('truetype'),
        url('gotham-medium-condensed/gotham-medium-condensed.svg#Gotham-Medium-Condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}